* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C6E7FF;
  padding: 20px 40px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70px
}

header .logo h1 {
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav {
  color: #fff;
  display: flex;
  text-decoration: none;
  font-size: 14px;
}


.nav a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}


.register-btn {

  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  transition: 1s;
}

.register-btn:hover {
  background-color: #0056b3;
}